

/* ==========================================================================
   Hoodie Sign In / Sign Up / Sign out stylings
   ========================================================================== */

.hoodie-accountbar {

}

/* hide contents until we know if user is signed in or not */
.hoodie-accountbar > div {
  display: none;
}

.hoodie-signedin  .hoodie-accountbar .hoodie-signedin,
.hoodie-signedout .hoodie-accountbar .hoodie-signedout {
  display: block;
  padding: 10px 0;
}

#hoodieAccountModal form input[type=submit] {
  position: absolute;
  left: -9999px;
}


/* ==========================================================================
   Hoodie Log
   ========================================================================== */

table th,
table td {
  white-space: nowrap;
}
table .data {
  width: 100%;
  white-space: pre;
}
table .data table {
  width: 100%;
  margin: -4px -5px;
}
table .data table th {
  min-width: 150px;
}
table .data table td {
  width: 100%;
}
table .data table th,
table .data table td {
  border-top: 0;
}